<h2>Users list</h2>

<% @users.each do |user| %>
<% if user != current_user %>
    <div>
      Name: <%= user.username %><br>
      Email: <%= user.email %>

      <% if !current_user.friend?(user) %>
        <%= form_for(:friendships, url: friendships_path, html: { method: :post }) do |f| %>
          <%= f.hidden_field( :user_id, value: current_user.id) %>
          <%= f.hidden_field( :friend_id, value: user.id) %>
          <%= f.submit "Add as a friend" %>
        <%end %>
      <% end %>

    </div>
    <% end %>

<% end %>


<hr>