<h2 class="mb2">Users list</h2>

<% @users.each do |user| %>
    <div class="row">
      <div class="col-md-2 mt"><%= gravatar_for(user, options = { size: 60 }) %></div>
      <div class="col-md-3">
        <h4><%= link_to "#{user.username.capitalize}", user_path(user) %></h4>
        <p><%= user.email %></p>
      </div>

      <% if (!current_user.friend?(user) && !current_user.received_requests.include?(user) && !current_user.sent_requests.include?(user)) && current_user != user %>
        <div class="col-md-2 mt3">
          <%= form_for(:friendships, url: friendships_path, html: { method: :post }) do |f| %>
            <%= f.hidden_field( :user_id, value: current_user.id) %>
            <%= f.hidden_field( :friend_id, value: user.id) %>
            <%= f.submit "Add as a friend", class: "btn btn-primary" %>
          <%end %>
        </div>
      <% end %>

    </div>
    <hr>
    <% end %>

