<h1> <%= @user.username %>'s profile </h1>

<% if current_user == @user %>
    <div class="row">
        <div class="col-md-4">
            <h2> Pending requests </h2>
                <!-- User's avatar goes here -->
            <% @user.received_requests.each do |received_request| %>
                <%= link_to "#{received_request.username}", user_path(received_request.id) %>
                
                <%= form_for(:friendships, url: friendship_path(current_user.id, received_request.id), html: { method: :put }) do |f| %>
                    <%= f.hidden_field( :user_id, value: received_request.id) %>
                    <%= f.hidden_field( :friend_id, value: current_user.id) %>
                    <%= f.submit "Accept" %>
                <% end %>
            <% end %>
        </div>

        <div class="col-md-4">
            <h2>Hello</h2>
        </div>
        <div class="col-md-4">
            <h2>Hello</h2>

        </div>

    </div>

<% end %>
