<div class="section">
    <h2 class="mb2"> <%= gravatar_for(@user) %><%=  @user.username.capitalize %>'s profile </h2>

    <div class="row">
    <% if current_user == @user %>
        <% if current_user.posts.any? %>
            <section class="col-md-7 mr-md-5 mobile-mt content-div-border">
                <h4 class="title"><%= current_user.username.capitalize %>'s posts</h4>
                <% @user.posts.each do |post| %>
                    <% if post.user == current_user %>
                        <div class="article">
                            <p class="article-showcase text-smaller"><%= post.content %></p>
                            <p><%= link_to "Read more", post_path(post) %></p>
                        </div>
                    <% end %>
                <% end %>
            </section>
        <% end %> 

        <aside class="friends-aside col-md-4 mobile-mt">
            <div class=" mb-3 content-div-border">
                <h5> Pending requests </h5>
                    
                <% @user.received_requests.each do |received_request| %>
                    <div class="row">
                        <span class="col-md-6 text-center">
                            <%= gravatar_for(received_request, options = { size: 40 }) %>
                            <%= link_to "#{received_request.username.capitalize}", user_path(received_request.id) %>
                        </span>
                        
                        <span class="col-md-2 text-center mt">
                            <%= form_for(:friendships, url: friendship_path(current_user.id, received_request.id), html: { method: :put }) do |f| %>
                                <%= f.hidden_field( :user_id, value: received_request.id) %>
                                <%= f.hidden_field( :friend_id, value: current_user.id) %>
                                <%= f.submit "Accept", class: "btn btn-primary btn-sm" %>
                            <% end %>
                        </span>
                    </div>
                <% end %>
            </div>

            <div class=" content-div-border">
                <h5>Friends</h5>
                <% @user.friends.each do |friend| %>
                    <div class="row">
                        <div class="col-md-8 mt mt-md-3">
                            <%= gravatar_for(friend, options = { size: 40 }) %>
                            <%=  link_to "#{friend.username.capitalize}", user_path(friend.id) %>
                        </div>
                    </div>
                <% end %>
            </div>

        </aside>

    <% end %>
    </div>
</div>