<div class="post-container">
  <h2 class="mb2">Post Details</h2>
  <p class="article-content"><%= @post.content %></p>
  <h6 class="authors">By: <%= link_to "#{@post.user.username.capitalize}", user_path(@post.user) %></h6>
  <hr>
  <p> <%= @post.likes.count %> <%= @post.likes.count == 0 || @post.likes.count > 1 ? 'Likes' : 'Like' %></p>


  <% if @post.comments.any? %>
    <h5>Comments:</h5>
      <% @post.comments.each do |comment| %>
        <div class="comment-div">
          <p class="comment-body"><%= comment.body %></p>
          <p class="authors">By: <%= link_to "#{comment.user.username.capitalize}", user_path(comment.user) %></p>
        </div>
      <% end %>
  <% end %>

  <%= form_for(:comment, url: comments_path(@comment), html: { method: :post, class: 'form' }) do |f| %>

      <%= f.text_area :body, class: 'form-control', placeholder: 'Write a comment here...' %>

      <%= f.hidden_field( :post_id, value: @post.id) %>
      <%= f.hidden_field( :user_id, value: current_user.id) %>

        <%= f.submit "Comment", class: "btn btn-primary f-left mr2 mt2" %>
    <% end %>



    <div class="f-left mt2">
      <%= form_for(:like, url: like_path(current_user.id), html: { method: :delete }) do |f| %>
      <% if @post.likes.any? {|el| current_user.id == el.user_id} %>
        <%= f.submit "Unlike", class: "btn btn-primary inline" %>
        <%end%>
      <% end %>


      <%= form_for(:like, url: likes_path(current_user.id), html: { method: :post }) do |f| %>
      <%= f.hidden_field( :post_id, value: @post.id) %>
      <%= f.hidden_field( :user_id, value: current_user.id) %>
      <% if !@post.likes.any? {|el| current_user.id == el.user_id} %>
        <%= f.submit "Like", class: "btn btn-primary inline" %>
        <%end%>
      <%end %>
    </div>
</div>
