<h2>Post show page</h2>

<p> <%=@post.id%> </p>
<p><%= @post.content %></p>
<h5><%= @post.user.username %></h5>
<hr>
<p> <%= @post.likes.count %> Likes </p>

<% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
        <h5><%= comment.body %></h5>
    <% end %>
<% end %>

<%= form_for(:comment, url: comments_path(@comment), html: { method: :post }) do |f| %>


    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>

    <%= f.hidden_field( :post_id, value: @post.id) %>
    <%= f.hidden_field( :user_id, value: current_user.id) %>

    <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>



<%= form_for(:like, url: like_path(current_user.id), html: { method: :delete }) do |f| %>
<% if @post.likes.any? {|el| current_user.id == el.user_id} %>
  <%= f.submit "Unlike" %>
  <%end%>
<% end %>


  <%= form_for(:like, url: likes_path(current_user.id), html: { method: :post }) do |f| %>
  <%= f.hidden_field( :post_id, value: @post.id) %>
  <%= f.hidden_field( :user_id, value: current_user.id) %>
  <% if !@post.likes.any? {|el| current_user.id == el.user_id} %>
    <%= f.submit "Like" %>
    <%end%>
<%end %>
