<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <%= link_to "Insta Social", root_path, class: "navbar-brand text-uppercase" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%if signed_in? %>
        <%= link_to "Your profile", user_path(current_user), class: "nav-item nav-link" %><i class="fas fa-user-friends"><%= current_user.notifications_count %></i>
        <%= link_to "All users", users_path, class: "nav-item nav-link" %>
        <%= link_to "Create a post", new_post_path, class: "nav-item nav-link" %>
        <%= link_to "All posts", posts_path, class: "nav-item nav-link" %>
        <%= link_to "Logout", destroy_user_session_path , method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "nav-item nav-link" %>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %>
      <% end %>

    </div>
  </div>
</nav>